[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "pykp"
version = "2.1.0"
description = "Tooling for sampling and solving instances of the 0-1 Knapsack Problem."
authors = [
    { name = "Hassan Andrabi", email = "hrs.andrabi@gmail.com" }
]
license = { text = "MIT" }
readme = "README.md"
requires-python = ">=3.12"
keywords = ["knapsack", "optimisation", "sampling", "algorithms"]
classifiers = [
	"Intended Audience :: Science/Research",
	"Intended Audience :: Developers",
	"License :: OSI Approved :: MIT License",
	"Programming Language :: Python :: 3.12",
	"Operating System :: OS Independent",
	"Topic :: Scientific/Engineering",
	"Topic :: Scientific/Engineering :: Mathematics",
	"Topic :: Software Development :: Libraries :: Python Modules",
]
dependencies = [
	"anytree>=2.12.1", 
	"pandas>=2.2.3",
	"matplotlib==3.9.2",
	"numpy==2.1.3",
]

[project.optional-dependencies]
dev = ["pytest>=7.0", "twine>=4.0.2", "build>=1.2.2.post1", "python-semantic-release>=9.14.0"]

[project.urls]
Homepage = "https://github.com/HRSAndrabi/pykp"
Documentation = "https://github.com/HRSAndrabi/pykp"
Repository = "https://github.com/HRSAndrabi/pykp"
Issues = "https://github.com/HRSAndrabi/pykp/issues"

[tool.semantic_release]
version_variables = ["pyproject.toml:version"]
assets = []
build_command = """
	python -m pip install build
	python -m build
"""
build_command_env = []
commit_message = "{version}\n\nBumping version."
commit_parser = "angular"
logging_use_named_masks = false
major_on_zero = true
allow_zero_version = true
repo_dir = "./"
no_git_verify = false
tag_format = "{version}"

[tool.semantic_release.branches.main]
match = "(main|master)"
prerelease_token = "rc"
prerelease = false

[tool.semantic_release.changelog]
exclude_commit_patterns = []
mode = "init"
insertion_flag = "<!-- version list -->"
template_dir = "templates"

[tool.semantic_release.changelog.default_templates]
changelog_file = "CHANGELOG.md"
output_format = "md"
mask_initial_release = false

[tool.semantic_release.changelog.environment]
block_start_string = "{%"
block_end_string = "%}"
variable_start_string = "{{"
variable_end_string = "}}"
comment_start_string = "{#"
comment_end_string = "#}"
trim_blocks = false
lstrip_blocks = false
newline_sequence = "\n"
keep_trailing_newline = false
extensions = []
autoescape = false

[tool.semantic_release.commit_author]
env = "GIT_COMMIT_AUTHOR"
default = "semantic-release <semantic-release>"

[tool.semantic_release.commit_parser_options]
minor_tags = ["feat"]
patch_tags = ["fix", "perf"]
allowed_tags = ["feat", "fix", "perf", "build", "chore", "ci", "docs", "style", "refactor", "test"]
default_bump_level = 0

[tool.semantic_release.remote]
name = "origin"
type = "github"
ignore_token_for_push = false
insecure = false

[tool.semantic_release.publish]
upload_to_vcs_release = true

