/* elements to hide programmatically */
.formbuilder-hide {
    display: none;
}

/* boolean expressions builder */
.formbuilder-beb {
    > div > label {
        display: none;
    }

    /* make inline boolean expressions builders with last deep level or without a rule field */
    .formbuilder-beb-lvl3,
    &:has(> div[class*="formbuilder-hide"] > .formbuilder-beb-rules) {
        margin-bottom: -25px;
        display: flex;

        > div:not(:first-child) {
            margin-left: 32px;
        }
    }
}

/* input replaced by dropdown lists */
.formbuilder-beb-val-list input,
.formbuilder-beb-field input {
    display: none;
}

/* boolean expressions builder rules */
.formbuilder-beb-rules > div {
    /* only display the last "add rule" button */
    > button:has(+ div) {
        display: none;
    }

    /* make rules buttons inline */
    > div > section {
        position: relative;
        > .w-panel__header {
            position: absolute;
            top: 13px;
            right: 0;
            > *:not(.w-panel__controls) {
                display: none;
            }
        }
        > .w-panel__content {
            width: 88%;
        }
    }
}

/* hide the rule block of the first displayed field block */
.formbuilder-fields-block > div > div[data-contentpath]:not([aria-hidden]) {
    > section > div > .formbuilder-field-block > div:has(.formbuilder-field-block-rule) {
        display: none !important;
    }
    ~ & > section > div > .formbuilder-field-block > div:has(.formbuilder-field-block-rule) {
        display: inherit !important;
    }
}

/* hide unnecessary buttons in the root rules block that contains a boolean expressions builder */
.formbuilder-field-block-rule > div:has(> div:not([aria-hidden]) > section > div > .formbuilder-beb-lvl1) {
    > button.c-sf-add-button {
        display: none !important;
    }

    > div > section > div.w-panel__header > div.w-panel__controls {
        button:has(> svg.icon-arrow-up),
        button:has(> svg.icon-arrow-down),
        button:has(> svg.icon-copy) {
            display: none;
        }
    }
}
