
# Use text installer
text

# REQUIRED! Imogen will wait for power off and hang if this is not specified
poweroff

# Keyboard and language settings
keyboard --xlayouts='us'
lang en_US.UTF-8

# Basic settings
firstboot --disable
timezone Etc/UTC --utc
network --bootproto=dhcp

# Lock the root user and create a cloud-user account
# Keep in mind, on some systems, the default user for cloud-init has been changed
rootpw --lock
user --groups=wheel --name=cloud-user --lock --gecos="Cloud User"

# Rocky repositories
url --mirrorlist=https://mirrors.rockylinux.org/mirrorlist?arch=$basearch&repo=BaseOS-$releasever
repo --name=AppStream --mirrorlist=https://mirrors.rockylinux.org/mirrorlist?arch=$basearch&repo=AppStream-$releasever


# Basic storage
ignoredisk --only-use=nvme1n1
clearpart --none --initlabel
autopart

# Package selection
%packages
@^minimal-environment
cloud-init
dracut-config-generic
%end
