[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "simo-komfovent"
version = "1.1.7"
authors = [
  { name="Simanas VenÄkauskas", email="simanas@simo.io" },
]
description = "Komfovent C6 integration for SIMO.io"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dynamic = ["dependencies"]
[tool.setuptools.dynamic]
dependencies = {file = ["requirements.txt"]}

[project.urls]
Homepage = "https://github.com/SIMO-io/simo-komfovent"
Issues = "https://github.com/SIMO-io/simo-komfovent/issues"
